<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <section name="OneAll" type="OneAll.Config.ConfigSection, OneAll.Aspnet, Version=1.0.0.0, Culture=neutral, PublicKeyToken=c200ab9202daac10"/>
    </configSections>

    <OneAll domain="https://mysite.api.oneall.com" privateKey="00000000-0000-0000-0000-000000000000" publicKey="00000000-0000-0000-0000-000000000000">
        <Authentication>
            <Link  width="2" height="0" theme="link" callback="/Social.aspx" sameWindow="true" />
            <LogOn  width="2" height="0" theme="signin" callback="/Social.aspx" sameWindow="true" />
            <Providers>
                <!-- These can be overridden per method call, or overwritten at run-time using the "InitializeValues" method. -->
                <Provider name="facebook" />
                <Provider name="google" />
                <Provider name="hyves" />
                <Provider name="linkedin" />
                <Provider name="livejournal" />
                <Provider name="openid" />
                <Provider name="paypal" />
                <Provider name="stackexchange" />
                <Provider name="twitter" />
                <Provider name="vkontakte" />
                <Provider name="wordpress" />
                <Provider name="yahoo" />
                <Provider name="windowslive" />
            </Providers>
        </Authentication>
        <Sharing  style="Small" url="http://site.tld/folder/file.ext" titleFormat="Share this on {0}" enableInsights="true">
            <Providers>
                <!-- These can be overridden per method call, or overwritten at run-time using the "InitializeValues" method. -->
                <Provider name="facebook" displayName="Facebook" />
                <Provider name="twitter" displayName="Twitter" />
                <Provider name="linkedin" displayName="LinkedIn" />
                <Provider name="reddit" displayName="Reddit" />
                <Provider name="stumbleupon" displayName="StumbleUpon" />
                <Provider name="digg" displayName="Digg" />
                <Provider name="delicious" displayName="Google" />
                <Provider name="google_bookmarks" displayName="Facebook" />
                <Provider name="tumblr" displayName="Tumblr" />
                <Provider name="facebook_like_but" displayName="Facebook" />
                <Provider name="linkedin_share_but" displayName="LinkedIn" />
                <Provider name="google_plus_one_but" displayName="Google" />
                <Provider name="twitter_tweet_but" displayName="Twitter" />
            </Providers>
        </Sharing>
    </OneAll>

    <connectionStrings>
        <!--<add name="ApplicationServices"
             connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
             providerName="System.Data.SqlClient" />-->
    </connectionStrings>

    <system.web>
        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="OneAll.Aspnet, Version=1.0.0.0, Culture=neutral, PublicKeyToken=c200ab9202daac10" />
            </assemblies>
        </compilation>

        <customErrors mode="Off" />

        <pages>
            <namespaces>
                <add namespace="OneAll" />
            </namespaces>
        </pages>

        <authentication mode="Forms">
            <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
        </authentication>

        <membership>
            <providers>
                <clear/>
                <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
                     enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
                     maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
                     applicationName="/" />
            </providers>
        </membership>

        <profile>
            <providers>
                <clear/>
                <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
            </providers>
        </profile>

        <roleManager enabled="false">
            <providers>
                <clear/>
                <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
                <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
            </providers>
        </roleManager>

    </system.web>

    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>
</configuration>
