<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="OneAll" type="OneAll.Config.ConfigSection, OneAll, Version=1.0.0.0, Culture=neutral, PublicKeyToken=c200ab9202daac10"/>
	</configSections>
	<!-- Domain, private key, and public key are the values from your OneAll account -->
	<OneAll domain="https://xpglive.api.oneall.com" privateKey="18e28c11-bdd4-441d-8285-e436cf79868e" publicKey="8aa7feee-0c76-4fb6-8f57-b3638b597002">
		<Authentication>
			<!-- Width and Height refer to the number of provider displayed in a plug-in, not pixel or other unit -->
			<!-- Theme can be "signin" or "signup" or "connect" or a URL to your CSS -->
			<!-- Callback in the URL on your site that OneAll will call back to after the social process (signin/signup/connect) -->
			<Link  width="2" height="0" theme="signin" callback="/home/social" />
			<LogOn  width="2" height="0" theme="connect" callback="/home/social" />
			<Providers>
				<!-- 
				These are the providers that you've configured at OneAll, any provider configured there can be added here.
				These can be overridden per method call, or overwritten at run-time using the "InitializeValues" method.
				-->
				<Provider name="facebook" />
				<Provider name="google" />
				<Provider name="hyves" />
				<Provider name="linkedin" />
				<Provider name="livejournal" />
				<Provider name="openid" />
				<Provider name="paypal" />
				<Provider name="stackexchange" />
				<Provider name="twitter" />
				<Provider name="vkontakte" />
				<Provider name="wordpress" />
				<Provider name="yahoo" />
				<Provider name="windowslive" />
			</Providers>
		</Authentication>
	</OneAll>
</configuration>